#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        ParaLeft {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 16>;
        };

        ParaRight {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 19>;
        };

        bootloaderLeft {
            bindings = <&bootloader>;
            key-positions = <0 13>;
        };
        bootloaderRight {
            bindings = <&bootloader>;
            key-positions = <11 22>;
        };
        resetLeft {
            bindings = <&sys_reset>;
            key-positions = <0 12>;
        };
        resetRight {
            bindings = <&sys_reset>;
            key-positions = <11 23>;
        };
        gamelay {
            bindings = <&tog 3>;
            key-positions = <47 46>;
        };
    };

    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0 2 3 4>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <1>;
        
    };

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";   
        device = <&vtrackball>;
        layers = <>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <12>;
    };

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <5>;
        evt-type = <INPUT_EV_REL>;            
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        scale-divisor = <4>;
        y-invert;
        bindings = <&ib_wheel_scaler 1 16>;
    };

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };
 
    ib_toggle_layer: ib_toggle_layer {
        compatible = "zmk,input-behavior-tog-layer";
        #binding-cells = <1>;
        time-to-live-ms = <500>;
    };

    behaviors {
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            bindings = 
                <&mo>,
                <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base_0 {
            label = "Base";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &kp ESC        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0       &kp DEL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp TAB        &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U        &lt 1 I        &kp O         &kp P    &kp LEFT_BRACKET
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp CAPS       &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L        &kp SEMI      &kp APOS
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &tog 3        &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M      &lt 4 COMMA     &kp DOT      &kp FSLH  &kp RIGHT_BRACKET
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                           &lt 1 COMMA    &lt 3 DOT     &kp LSHFT          &kp BSPC     &kp SPACE
            //                                           ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────╯
                                                                         &kp LEFT_ALT   &kp LCTRL        &mt LWIN RET
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        FN_1 {
            label = "F1";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &trans        &trans        &trans    &kp C_VOL_DN  &kp C_VOL_UP    &kp C_MUTE          &trans        &trans        &trans        &trans        &trans        &trans   
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6       &kp PRINTSCREEN &kp LEFT_ALT     &trans       &kp LCTRL     &kp LSHFT      &kp DEL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp F7        &kp F8        &kp F9       &kp F10       &kp F11       &kp F12            &trans        &trans        &trans        &trans        &trans        &trans 
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans        &trans        &trans        &trans        &trans            &trans         &trans        &trans        &trans        &trans        &trans
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                              &trans        &trans        &trans            &trans        &trans    
            //                                           ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };


        Game_2 {
            label = "Game";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &kp ESC        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7      &lt 1 N8        &kp N9        &kp N0       &kp DEL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp TAB        &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P    &kp LEFT_BRACKET
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp CAPS       &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L       &kp SEMI      &kp APOS
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &kp LCTRL       &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M       &kp COMMA      &kp DOT      &kp FSLH   &kp RIGHT_BRACKET
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                            &kp COMMA      &kp DOT      &kp LSHFT          &kp BSPC     &kp SPACE
            //                                           ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────╯
                                                                         &kp LEFT_ALT   &kp LCTRL          &kp RET       
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Mouse_3 {
            label = "Lower4";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans        &trans        &trans        &trans        &trans            &trans      &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_N0       &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans      &mkp RCLK     &mkp RCLK     &mkp LCLK       &trans            &trans      &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_N0       &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &lt 5 Z     &mkp RCLK     &mkp RCLK     &mkp LCLK       &trans            &trans      &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp KP_DOT      &trans
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                              &trans        &trans        &trans            &trans        &trans    
            //                                           ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Scroll_4 {
            label = "Lower5";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &trans        &trans        &trans    &kp C_VOL_DN  &kp C_VOL_UP    &kp C_MUTE          &trans        &trans        &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans      &kp PG_UP       &kp UP      &kp PG_DN       &kp HOME          &trans       &kp PG_UP      &kp UP      &kp PG_DN       &kp HOME      &trans   
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans       &kp LEFT      &kp DOWN     &kp RIGHT       &kp END           &trans       &kp LEFT      &kp DOWN     &kp RIGHT       &kp END       &trans  
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                              &trans        &trans        &trans            &trans        &trans    
            //                                           ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Technical_5 {
            label = "Technical2";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &trans        &trans        &trans        &trans        &trans        &trans            &trans        &trans        &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans       &kp EXCL       &kp AT      &kp HASH       &kp DLLR     &kp PRCNT         &kp CARET      &kp AMPS  &kp KP_MULTIPLY   &kp LPAR      &kp RPAR      &kp DEL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans     &bt BT_CLR    &bt BT_PRV    &bt BT_NXT       &trans        &to 3           &kp UNDER     &kp EQUAL      &kp LBKT      &kp RBKT      &kp BSLH     &kp GRAVE
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans    &out OUT_TOG   &bootloader      &trans        &trans        &trans           &kp MINUS     &kp PLUS      &kp LBRC      &kp RBRC      &kp PIPE     &kp TILDE
            // ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                              &trans        &trans        &trans            &trans        &trans    
            //                                           ╰─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };
    };
};
